router bgp {{ local_asn }}
 router-id {{ router_id }}
 bgp log-neighbor-changes
 neighbor {{ neighbor_id_1 }} remote-as {{ remote_asn_1 }}
 neighbor {{ neighbor_id_2 }} remote-as {{ remote_asn_2 }}
 address-family ipv4 unicast
  neighbor {{ neighbor_id_1 }} activate
  network {{ network }} mask {{ net_mask }}
  exit-address-family
